/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* START OF CSS */

h1 {
  font-size: 400%;
}


.header-container {
  border: 2px solid  rgb(105, 25, 0);
  margin: 1%;
  padding: 1%;
  width: 100%;
  background-color: gray;
}

.header-container a {
  border: 2px solid  rgb(105, 25, 0);
  margin: 0 10px;
  background-color: rgb(24, 20, 20);
  display: inline-block;
  padding: 2px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-top: 1px;
  margin-bottom: 2px;
}

.big-body-container {
  display: flex;
  justify-content: flex-end;
  align-content: stretch;
}

.body-container {
  border: 2px solid green;
  align-content: stretch;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;

}

h2 {
  font-size: 3rem;
  padding: 40px;
  padding-top: 40px;
}

button {
  border: 2px solid blue;
  margin: 40px;
  color: white;
  text-align: center;
}

.body-text {
  text-align: center;
  width: 80%;
  font-family: 'Roboto Mono', monospace;

}

.footer-container {
  border: 2px solid black;
  margin: 1%;
  padding: 1%;
  width: 100%;
  background-color: rgb(105, 25, 0);
  justify-content: space-around;
  align-content: stretch;
  display: flex;
  
  flex-direction: column;
  text-align: center;

}

.footer-text {
  font-size: 200%;
  color: rgb(247, 234, 211);
  margin: 10px;
}

.footer-container a {
  margin: 0 10px;
  border: 2px solid black;
  display: inline-block;
  padding: 2px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 2px;
  background-color: gray;
}



@media (max-width: 800px) {
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .header-container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .big-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .body-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}

  @media (max-width: 500px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
      .header-container {
        background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .big-body-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .body-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    
      }